// ==========================================================================
// Settings / Config
// ==========================================================================

// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
$context: frontend  !default;

// Path is relative to the stylesheets directory.
$assets-path: "../"  !default;

// Typography
// =============================================================================
$font-primary: 'comspot';
$font-serif: 'chap';

// Base
$min-font-size: 12px;
$max-font-size: 18px;
$font-family: $font-primary;

// Weights
$light:  300;
$normal: 400;
$medium: 500;
$bold:   700;
$heavy:  800;
$black:  900;

// Breakpoints
// =============================================================================
$from-mobile:   330px              !default;
$to-mobile:     $from-mobile - 1   !default;
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1000px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;

:root{
  --gutter: 6vw;
  --gutter-xs: calc(var(--gutter) * 0.5);
  --gutter-s: calc(var(--gutter) * 0.65);
  --gutter-l: calc(var(--gutter) * 1.25);

  --spacing: 9rem;
  --spacing-xxs: calc(var(--spacing) * 0.35);
  --spacing-xs: calc(var(--spacing) * 0.5);
  --spacing-s: calc(var(--spacing) * 0.75);
  --spacing-l: calc(var(--spacing) * 1.5);
}

@media (min-width: $from-medium) {
  :root{
    --gutter: 9rem;
    --spacing: 12rem;
  }
}