// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Base Colors
$color-base-white: #fff;
$color-base-black: #000000;

// UI Colors

$color-ui-white: #f3f7f9;
$color-ui-blue-dark: #16215c;
$color-ui-blue-darker: #101a56;
$color-ui-blue-light: #addcec;
$color-ui-blue-light-02: #142264;
$color-ui-orange: #f89673;
$color-ui-orange-dark: #e7755f;
$color-grey-1: #fafafa;
$color-ui-grey: #667281;
$color-ui-pink: #5f679a;
$color-ui-light-white: #f8fafb;
$color-ui-blue-lighter: #f3f7f9;
$color-ui-text: #636e8e;
$color-ui-text-2: #1f2c73;
$color-ui-text-3: #636e8e;
$color-ui-yellow: #f7a758;

$color-ui-theme-blue: #addcec;
$color-ui-theme-orange: $color-ui-orange;