.c-item{
  padding-top: var(--spacing-xs);
  position: relative;
  z-index: 3;

  @media (max-width: $to-small) {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }

  @media (min-width: $from-small) {
    margin-top: -1px;
  }

  &:last-child{
    padding-bottom: var(--spacing-xs);
  }

  .c-items--light & {

    @media (min-width: $from-small) {
      &:first-child{
        padding-top: 0;
      }
    }
  }

  .c-items--dark & {
    background-color: $color-ui-blue-dark;

    &__num {
      color: $color-base-white;
    }
  }

  &__num {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
    font-size: rem(12px);
    font-family: $font-serif;
    font-weight: $bold;
  }

  &__intro {
    position: absolute;
    color: #fff;
    top: 15rem;
    text-transform: uppercase;
    letter-spacing: rem(2px);
    font-weight: $bold;
    font-size: rem(10px);
    left: 95.5%;
    display: none;

    @media (min-width: $from-medium) {
      left: 97%;
      top: 11rem;
      display: block;
    }

    &-right {
      transform: translateX(-50%) rotate(90deg);
      display: flex;
      position: absolute;
    }

    @media (min-width: $from-medium) {
      left: 95%;
    }

    &-arrow {
      display:flex;
      align-items: center;
      margin-left: 2rem;
      opacity: 0.7;
      font-size: rem(12px);

      &:after {
        content: '▲';
        transform: rotate(90deg);
        font-size: 10px;
        top: 1px;
        left: -3px;
        position: relative;
        color: #4855a0;
      }

      &:before {
        content: '';
        width: 10rem;
        height: 2px;
        background-color: #4855a0;
      }
    }
  }

  &__inner{
    background-color: lighten($color-ui-blue-dark, 5%);
    padding-top: calc(var(--spacing-xs) * 1.15);
    padding-bottom: calc(var(--spacing-xs) * 1.15);
    position: relative;

    &--no-padding {
      padding:0;
    }

    @media (min-width: $from-small) {
      display: flex;
      justify-content: space-around;
    }

    .c-items--light & {
      background-color: $color-base-white;
      box-shadow: 0px 30px 80px 0px rgba(201, 218, 218, 0.25);
    }

    @media (min-width: $from-small) {

      .c-item:nth-child(odd) & {
        margin-left: calc(var(--gutter) * -0.5);
      }

      .c-item:nth-child(even) & {
        margin-right: calc(var(--gutter) * -0.5);
      }
    }
  }

  &__img{
    position: relative;
    flex: 1;

    @media (max-width: $to-small) {
      margin-top: -6rem;
    }

    @media (min-width: $from-small) {
      margin-left: 0;
      margin-right: auto;

      .c-item--automation & {
        margin-top: -15%;
        margin-bottom: -5%;
        max-width: 60%;
      }

      .c-item--cloud & {
        margin-top: -5%;
        margin-bottom: -7.5%;
        max-width: 70%;
      }

      .c-item--docker & {
        margin-top: -5%;
        margin-bottom: -5%;
        max-width: 60%;
      }

      .c-item--devops & {
        margin-top: -7.5%;
        margin-bottom: -7.5%;
        max-width: 55%;
      }

      .c-item--monitoring & {
        margin-top: -17.5%;
        margin-bottom: -10%;
        max-width: 65%;
      }

      .c-item--training & {
        margin-top: -5%;
        margin-bottom: -7.5%;
        max-width: 65%;
      }
    }

    .c-item--reverse & {
      order: 2;
      margin-left: auto;
      margin-right: 0;
    }
  
    @media (min-width: $from-small) {

      svg{
        position: absolute;
        height: 100%;
        width: auto;
      }

      img {
        @include fill;
        object-fit: contain;
        object-position: left;

        .c-item--reverse & {
          object-position: right;
        }
      }
    }
  }

  &__content{
    max-width: 17.5rem;
    min-width: 17.5rem;

    .c-item--reverse & {
      order: 1;
    }
  }

  &__title{
    margin: 1.5rem 0;
    font-size: 1.65rem;
    font-weight: 500;
    font-family: $font-serif;
  }


  &__text{
    font-size: 1.05rem;
  }
}

.c-icon{
  --size: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);

  svg{
    width: calc(var(--size) * 0.5);
    height: 100%;
  }
}