.o-gutter{
  padding-left: var(--gutter);
  padding-right: var(--gutter);

  &-s{
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @media (min-width: $from-medium) {
      padding-left: var(--gutter-s);
      padding-right: var(--gutter-s); 
    }   
  }

  &-left{
    padding-left: 0;
  }

  &-right{
    padding-right: 0;
  }

  &-l {
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @media (min-width: $from-small) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &-xl {
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    @media (min-width: $from-small) {
      padding-left: var(--gutter-l);
      padding-right: var(--gutter-l); 
    }
  }
}

.o-padding{

  &-y{
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
  }

  &-s {

    @media (min-width: $from-medium) {
      padding-top: calc(var(--spacing) / 2);
      padding-bottom: calc(var(--spacing) / 2);
    }
  }

  &-xs {
    padding-top: calc(var(--spacing) / 6);
    padding-bottom: calc(var(--spacing) / 6);
  }

  &-top{
    padding-top: var(--spacing);
  }
}

.o-aspect{
  padding-top: var(--aspect);
}